// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "")
	$index: str-index($string, $search)
	@if $index
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
	@return $string


// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
	$src: null
	$extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))

	$formats: (otf: "opentype", ttf: "truetype")

	@each $ext in $exts
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)

	@font-face
		font-family: quote($name)
		font-style: $style
		font-weight: $weight
		src: $src


@mixin translateY($y)
    -webkit-transform: translateY($y)
    -moz-transform: translateY($y)
    -ms-transform: translateY($y)
    -o-transform: translateY($y)
    transform: translateY($y)

@mixin translateX($x)
    -webkit-transform: translateX($x)
    -moz-transform: translateX($x)
    -ms-transform: translateX($x)
    -o-transform: translateX($x)
    transform: translateX($x)

@mixin translate($x, $y)
    -webkit-transform: translate($x, $y)
    -moz-transform: translate($x, $y)
    -ms-transform: translate($x, $y)
    -o-transform: translate($x, $y)
    transform: translate($x, $y)

@mixin transition($s)
	-webkit-transition: $s
	-moz-transition: $s
	-ms-transition: $s
	-o-transition: $s
	transition: $s

@mixin scale($s)
	-webkit-transform: scale($s)
	-moz-transform: scale($s)
	-ms-transform: scale($s)
	-o-transform: scale($s)
	transform: scale($s)