<template>
  <div v-scroll="handleScroll" class="page-wrapper">
    <HeaderComponent :isStickyHeader="isStickyHeader" />
    <BannerComponent />
    <AppointmentComponent />
    <AddressComponent />
    <HoursOperation />
    <OurServices />
    <Insurance />
    <About />
    <Announcement />
    <Espanol />
    <Nuestros />
    <FooterComponent />
  </div>
</template>

<script>
import HeaderComponent from './../components/Header'
import BannerComponent from './../components/Banner'
import AppointmentComponent from './../components/Appointment'
import AddressComponent from './../components/Address'
import HoursOperation from './../components/HoursofOperation'
import OurServices from './../components/OurServices'
import Insurance from './../components/Insurance'
import About from './../components/About'
import Announcement from './../components/Announcement'
import Espanol from './../components/Espanol'
import Nuestros from './../components/Nuestros'
import FooterComponent from './../components/Footer'

export default {
  data () {
    return {
      isStickyHeader: false
    }
  },
  components: {
    HeaderComponent,
    BannerComponent,
    AppointmentComponent,
    AddressComponent,
    HoursOperation,
    OurServices,
    Insurance,
    About,
    Announcement,
    Espanol,
    Nuestros,
    FooterComponent
  },
  methods: {
    handleScroll (evt, el) {
      if (window.pageYOffset > 200) {
        this.isStickyHeader = true
      } else {
        this.isStickyHeader = false
      }
    }
  }
}
</script>
