<template>
    <section class="about-section" id="about">
        <h2 class="section-title capital text-left">About us</h2>
        <ul>
          <li v-for="(person, personIndex) in ourTeam" :key="personIndex" data-aos="fade-up">
            <img src="./../assets/images/medical.jpg" alt="">
            <h3 class="doctor-name">{{ person.name }}</h3>
            <p v-html="person.description"></p>
          </li>
        </ul>
    </section>
</template>

<script>
export default {
  data () {
    return {
      ourTeam: [
        {
          img: 'medical.jpg',
          name: 'Dr.Raj',
          description: 'Dr.Raj is our experienced Internal Medicine physician. He has been in private practice since 2008 and is board certified by the American Board of Internal Medicine <br /> The guiding principle of his practice has always been to go the extramile for the care of his patients. Be it in carefully listening to your concerns, clearly explaining the treatment plan or discussing your medications, you can be assured of his metriculous attention to detail in every aspect of your care. <br/> Coming from a research background with a PhD in Biochemistry, Dr.Raj strives to bring the same spirit of scientific inquiry into the care of his patients. In ths era of rishing health care costs, he understands the pressing need for cost-effective high quality care. Dr.Raj looks forward to working closely with you to help you achieve your health goals. <br/> Dr.Raj is fluent in English and Tamil. He lives with his lovely wife and their beloved son in the South Tomball area.'
        },
        {
          img: 'medical.jpg',
          name: 'Dr.Chandra',
          description: 'Dr.Chandra is our experienced Pediatrician. She has been in private practice since 2008. She is board certified by the American Board of pediatrics. She is a fellow of the American Academy of Pediatrics. <br/> She strongly believes in conducting her practice as a partnership between the patient, the family and the doctor. Watching babies develop into beautifuyl young adults is the most satisfying part of her job. She welcomes you and your children to join her in this incredible journey <br/> Dr. Chandra is multilingual and is fluent in English, Medical Spanish, Tamil, Urdu and Hindi. She resides in Tomball with her beloved husband and their two lovely daughters.'
        },
        {
          img: 'medical.jpg',
          name: 'Dr.Raj',
          description: 'Dr.Raj is our experienced Internal Medicine physician. He has been in private practice since 2008 and is board certified by the American Board of Internal Medicine <br /> The guiding principle of his practice has always been to go the extramile for the care of his patients. Be it in carefully listening to your concerns, clearly explaining the treatment plan or discussing your medications, you can be assured of his metriculous attention to detail in every aspect of your care. <br/> Coming from a research background with a PhD in Biochemistry, Dr.Raj strives to bring the same spirit of scientific inquiry into the care of his patients. In ths era of rishing health care costs, he understands the pressing need for cost-effective high quality care. Dr.Raj looks forward to working closely with you to help you achieve your health goals. <br/> Dr.Raj is fluent in English and Tamil. He lives with his lovely wife and their beloved son in the South Tomball area.'
        },
        {
          img: 'medical.jpg',
          name: 'Dr.Chandra',
          description: 'Dr.Chandra is our experienced Pediatrician. She has been in private practice since 2008. She is board certified by the American Board of pediatrics. She is a fellow of the American Academy of Pediatrics. <br/> She strongly believes in conducting her practice as a partnership between the patient, the family and the doctor. Watching babies develop into beautifuyl young adults is the most satisfying part of her job. She welcomes you and your children to join her in this incredible journey <br/> Dr. Chandra is multilingual and is fluent in English, Medical Spanish, Tamil, Urdu and Hindi. She resides in Tomball with her beloved husband and their two lovely daughters.'
        }
      ]
    }
  }
}
</script>
