<template>
    <section class="address-section" id="address" data-aos="fade-up" data-aos-easing="linear">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-title capital">Address</h2>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="address-block img-thumbnail" data-aos="fade-right">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.998793119659!2d-95.60519168488507!3d30.036892481885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640d2d58301b77f%3A0x60a18ca4fe0b5caa!2s11011%20Northpointe%20Blvd%20STE%20C%2C%20Tomball%2C%20TX%2077375!5e0!3m2!1sen!2sus!4v1589819801070!5m2!1sen!2sus"
                            width="600"
                            height="500"
                            frameborder="0"
                            style="border:0;max-width: 100%"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <div class="address-information">
                        <ul>
                            <li>
                                <div class="locaton-icon">
                                    <img src="./../assets/images/location.png" alt="location">
                                </div>
                                <div>
                                    <span>Phone - 281 246 1100</span>
                                    <label>11011 NORTHPOINT BLVD, STE C <br />TOMBALL TX 77375</label>
                                </div>
                            </li>
                            <li>
                                <div class="locaton-icon">
                                    <img src="./../assets/images/location.png" alt="location">
                                </div>
                                <div>
                                    <span>Directions to the clinic</span>
                                    <p>Located at the intersection of TX 249 (Tomball Parkway) & Northpointe Blvd</p>
                                    <p>4 min South of 99 (Grand Parkway) - TX 249 intersection</p>
                                    <p>10 min North of Beltway 8 (Sam Houston) - TX 249 intersection</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
