<template>
    <section class="announcement-section" id="announcements" data-aos="fade-up">
      <h2 class="section-title capital text-right">announcements</h2>
      <div class="container-fluid">
        <div class="row v-center">
          <div class="col-lg-7 col-sm-12">
            <ul>
              <li v-for="(announcement, announcementIndex) in announcements" :key="announcementIndex" data-aos="fade-up">
                <h2 class="announcement-title">{{ announcement.title }}</h2>
                <p>{{ announcement.description }}</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-5 col-sm-12 text-lg-right" data-aos="fade-left">
            <img src="./../assets/images/announcement.png" alt="NHIMP Announcements">
          </div>
        </div>
      </div>
    </section>
</template>

<script>
export default {
  data () {
    return {
      announcements: [
        {
          title: 'Announcement Heading',
          description: 'NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, 12/04/2020'
        },
        {
          title: 'Announcement Heading',
          description: 'NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, 12/04/2020'
        },
        {
          title: 'Announcement Heading',
          description: 'NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, 12/04/2020'
        },
        {
          title: 'Announcement Heading',
          description: 'NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, NHIMP was so grateful for the ourpouring of support from our front-line colleagues including, 12/04/2020'
        }
      ]
    }
  }
}
</script>
