<template>
    <section class="appointment-section" id="requestAppointment" data-aos="fade-right">
      <h2 class="section-title">Request an appointment online</h2>
      <a href="#" class="download-link">
        <img src="./../assets/images/pdf.png" alt="download pdf"> New Patient Form
      </a>
      <FormComponent
            :appointmentFormFields="appointmentFormFields.appointmentFields" :isInline="true" />

      <div class="telemedicine-wrapper">
        <div class="container">
          <h2 class="telemedicine-wrapper__title">
            <b>How it works: </b>Staff member will reach out to you the next business day morning to help schedule your appointment.
          </h2>
          <div class="telemedicine-wrapper__box">
            <h2 class="telemedicine-wrapper__box__title">
              <img src="./../assets/images/telemedicine.png" alt="telemedicine">
              telemedicine
            </h2>
            <p>Consultations are done through phone or through videoconference.</p>
            <p>Telemed visit works like in-office visit but is conducted from the comfort of your home.</p>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import axios from 'axios'
import FormComponent from './formComponent'
export default {
  data () {
    return {
      appointmentFormFields: []
    }
  },
  components: {
    FormComponent
  },
  created () {
    axios.get('./static/mock/form.json')
      .then(res => {
        this.appointmentFormFields = res.data
      })
  }
}
</script>
