<template>
    <div class="banner-section" data-aos="fade-down">
        <div class="banner-section__img">
            <img src="./../assets/images/hospitalimage.png" alt="">
        </div>
        <div class="banner-section__content">
            <h2 class="banner-section__content__title">Please call for your appointment today</h2>
            <span class="banner-section__content__list">
                <img src="./../assets/images/phone.png" alt="phone">
                Phone: 281 246 1100
            </span>
            <h2 class="banner-section__content__heading">Walk-ins welcome</h2>
            <span class="banner-section__content__list">
                <img src="./../assets/images/fax.png" alt="fax">
                FAX - 603 945 7146 (Dr. Chandra, Pediatrics)
            </span>
            <span class="banner-section__content__list">
                <img src="./../assets/images/fax.png" alt="fax">
                FAX - 832 336 3799 (Dr. Raj, Internal Medicine)
            </span>
            <div class="banner-section__content__footer">
                <span class="banner-section__content__footer__title">11011 northpointe blvd ste c tomball tx 77375</span>
                <h4 class="banner-section__content__footer__heading">Announcement</h4>
                <p>Opening on May 17th 2020</p>
            </div>
        </div>
    </div>
</template>
