<template>
    <section class="hoursofoperation-section espanol" id="espanol" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-title text-left capital">North houston clinica de medicina interna y pediatria</h2>
                </div>
                <div class="col-lg-5 col-sm-12 espanol-details" data-aos="fade-right">
                    <div class="espanol-details__inner">
                        <h3 class="espanol-details__inner__title">Par favor Ilame para hacer su cita hoy</h3>
                        <p>numero de telefono <br/>281 246 1100</p>
                        <p>Pacientes sin cita son bienvenidos</p>
                        <p>11011 NORTHPOINTE BLVD<br/>STE C<br/>TOMBALL TX 77375</p>
                        <P>FAX - 603 945 7146<br/>(Dra.Chandra)<br/>FAX - 832 336 3799<br/>(Dr.Raj)</P>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12" data-aos="fade-left">
                    <article class="doctors-article">
                        <aside v-for="(doctor, doctorIndex) in hoursOperation" :key="doctorIndex">
                            <h4 class="doctors-name">{{ doctor.category }}</h4>
                            <h4 class="doctors-name">{{ doctor.doctorsName }}</h4>
                            <div class="doctor-table">
                              <div class="doctor-row" v-for="(row, rowIndex) in doctor.hours" :key="rowIndex">
                                <div class="doctor-cell">
                                  {{ row.day }}
                                </div>
                                <div class="doctor-cell" v-for="(time, timeIndex) in row.time" :key="timeIndex">
                                  {{ time }}
                                </div>
                              </div>
                            </div>
                        </aside>
                    </article>
                    <div class="hoursOperation-footer">
                      <h4 class="title">Llamados fuera del horario de oficina</h4>
                      <div class="hoursOperation-footer__table">
                        <div class="hoursOperation-footer__table__row">
                          <div class="hoursOperation-footer__table__row__cell">
                            Para ilamada de emergencia:
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <label>Llamar 9-1-1</label>
                          </div>
                          <div class="hoursOperation-footer__table__row__cell norBorder"></div>
                        </div>
                        <div class="hoursOperation-footer__table__row">
                          <div class="hoursOperation-footer__table__row__cell">
                            Para cualquier otra pregunta contacte:
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <span class="d-block">Medicina interna <br/>(adultos)</span>
                            <span class="d-block">Dr.Raj</span>
                            <span class="d-block">281 826 4641</span>
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <span class="d-block">Pediatrics<br/>(Ninos)</span>
                            <span class="d-block">Dr.Chandra</span>
                            <span class="d-block">346 298 5567</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  data () {
    return {
      hoursOperation: [
        {
          category: 'Medicina interna',
          doctorsName: 'dr.raj',
          hours: [
            {
              day: 'Lunes',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Martes',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Miercoles',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Jueves',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Viernes',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Sabado',
              time: ['9 AM - 5 PM']
            },
            {
              day: 'Domingo',
              time: ['Closed']
            }
          ]
        },
        {
          category: 'pediatrics',
          doctorsName: 'Dr.Chandra',
          hours: [
            {
              day: 'Lunes',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Martes',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Miercoles',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Jueves',
              time: ['9 AM - 12 00 PM', '']
            },
            {
              day: 'Viernes',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Sabado',
              time: ['9 AM - 5 PM', '']
            },
            {
              day: 'Domingo',
              time: ['Closed', '']
            }
          ]
        }
      ]
    }
  }
}
</script>
