<template>
    <form class="custom-form-wrapper">
      <div class="container">
        <div class="row">
          <template v-for="(field, fieldIndex) in appointmentFormFields">
            <div :key="fieldIndex"
                :class="field.class"
                v-if="field.type === 'text' || field.type === 'number' || field.type === 'date' || field.type === 'email'">
                <div class="form-group"
                  :class="{'row' : isInline}"
                    >
                      <label class="col-sm-4" v-html="field.label"></label>
                      <div class="col-sm-8">
                        <input :type="field.type" class="form-control custom-form-input" />
                      </div>
                  </div>
            </div>

            <div :key="fieldIndex" class="col-sm-12" v-if="field.type === 'heading'">
              <h2 class="form-title">Your contact information</h2>
            </div>

            <div :key="fieldIndex"
                :class="field.class"
                v-if="field.type === 'select'">
                <div class="form-group"
                :class="{'row' : isInline}"
                  >
                    <label class="col-sm-4" v-html="field.label"></label>
                    <div class="col-sm-8">
                      <select class="form-control custom-form-input">
                        <option v-for="(option, optionIndex) in field.allowableValues" :key="optionIndex">{{ option }}</option>
                      </select>
                    </div>
                </div>
            </div>
            <div :key="fieldIndex"
                :class="field.class"
                class="clearfix"
                v-if="field.type === 'radio'"
                >
              <div class="form-group"
              :class="{'row' : isInline}">
                <label class="col-sm-4" v-html="field.label"></label>
                <div class="col-sm-8">
                  <div class="form-check form-check-inline" v-for="(radio, radioIndex) in field.allowableValues" :key="radioIndex">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" :id="radio" value="option1">
                    <label class="form-check-label" :for="radio">{{ radio }}</label>
                  </div>
                </div>
              </div>
            </div>

            <div :key="fieldIndex" v-if="field.type === 'button'" :class="field.class">
              <button type="button" class="btn appointmentBtn">{{ field.label }}</button>
            </div>
          </template>
        </div>
      </div>
    </form>
</template>

<script>
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
export default {
  props: {
    appointmentFormFields: [Array, Object],
    isInline: Boolean
  },
  components: {
    DateRangePicker
  }
}
</script>
