<template>
    <header data-aos="fade-down">
        <div class="topHeader">
          <a href="/">
              <figure>
                  <img src="./../assets/images/nhimp_logo.png" alt="nhimp logo">
                  <figcaption>
                    <h1>North Houston Internal Medicine & Pediatric Clinic</h1>
                    <p>Specialized care for everyone in your family</p>
                  </figcaption>
              </figure>
          </a>
          <div class="menu js-menu" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" @click="toggleMenu">
              <span class="menu__line"></span>
              <span class="menu__line"></span>
              <span class="menu__line"></span>
          </div>
        </div>
        <div class="navHeader" :class="{'sticky' : isStickyHeader}">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse navContainer" id="navbarNav">
              <ul class="navbar-nav" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                <li class="nav-item" v-for="(menu, menuIndex) in menus" :key="menuIndex" @click="selectNavigation(menu.text)"
                    :class="{'active': activeMenu === menu.text}">
                  <a class="nav-link" :href="menu.link">{{ menu.text }} <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </header>
</template>

<script>
export default {
  props: {
    isStickyHeader: Boolean
  },
  data () {
    return {
      menus: [
        { text: 'Request appointment/TeleMedicine', link: '#requestAppointment' },
        { text: 'Address', link: '#address' },
        { text: 'Hours of operation', link: '#hoursOperation' },
        { text: 'Services', link: '#services' },
        { text: 'Insurance', link: '#insurance' },
        { text: 'About Us', link: '#about' },
        { text: 'Announcements', link: '#announcements' },
        { text: 'Espanol', link: '#espanol' }
      ],
      activeMenu: ''
    }
  },
  methods: {
    selectNavigation (menu) {
      this.activeMenu = menu
    },
    toggleMenu () {
      let menu = document.querySelector('.js-menu')
      menu.classList.toggle('active')
    }
  }
}
</script>
