<template>
    <section class="hoursofoperation-section" id="hoursOperation" data-aos="fade-up" data-aos-easing="linear">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-12 order-lg-2">
                    <h2 class="section-title text-left">Hours of operation</h2>
                    <article class="doctors-article">
                        <aside v-for="(doctor, doctorIndex) in hoursOperation" :key="doctorIndex">
                            <h4 class="doctors-name">{{ doctor.category }}</h4>
                            <h4 class="doctors-name">{{ doctor.doctorsName }}</h4>
                            <div class="doctor-table">
                              <div class="doctor-row" v-for="(row, rowIndex) in doctor.hours" :key="rowIndex">
                                <div class="doctor-cell">
                                  {{ row.day }}
                                </div>
                                <div class="doctor-cell" v-for="(time, timeIndex) in row.time" :key="timeIndex">
                                  {{ time }}
                                </div>
                              </div>
                            </div>
                        </aside>
                    </article>
                    <div class="hoursOperation-footer">
                      <h4 class="title">After hours contact</h4>
                      <div class="hoursOperation-footer__table">
                        <div class="hoursOperation-footer__table__row">
                          <div class="hoursOperation-footer__table__row__cell">
                            Medical emergencies:
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <label>Please contact 911</label>
                          </div>
                          <div class="hoursOperation-footer__table__row__cell norBorder"></div>
                        </div>
                        <div class="hoursOperation-footer__table__row">
                          <div class="hoursOperation-footer__table__row__cell">
                            For all other questions:
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <span class="d-block">Internal Medicine</span>
                            <span class="d-block">Dr.Raj</span>
                            <span class="d-block">281 826 4641</span>
                          </div>
                          <div class="hoursOperation-footer__table__row__cell">
                            <span class="d-block">Pediatrics</span>
                            <span class="d-block">Dr.Chandra</span>
                            <span class="d-block">346 298 5567</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 order-lg-1" data-aos="fade-right">
                    <img src="./../assets/images/hours_operation.png" alt="hours_operation">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  data () {
    return {
      hoursOperation: [
        {
          category: 'internal medicine',
          doctorsName: 'dr.raj',
          hours: [
            {
              day: 'Mon',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Tue',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Wed',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Thu',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Fri',
              time: ['3 PM - 7 PM']
            },
            {
              day: 'Sat',
              time: ['9 AM - 5 PM']
            },
            {
              day: 'Sun',
              time: ['Closed']
            }
          ]
        },
        {
          category: 'pediatrics',
          doctorsName: 'Dr.Chandra',
          hours: [
            {
              day: 'Mon',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Tue',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Wed',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Thu',
              time: ['9 AM - 12 00 PM', '']
            },
            {
              day: 'Fri',
              time: ['9 AM - 1 30 PM', '3 PM - 6 PM']
            },
            {
              day: 'Sat',
              time: ['9 AM - 5 PM', '']
            },
            {
              day: 'Sun',
              time: ['Closed', '']
            }
          ]
        }
      ]
    }
  }
}
</script>
