<template>
    <section class="insurance-section" id="insurance" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-12 order-lg-2">
                    <h2 class="section-title text-left capital">Insurance</h2>
                    <article class="insurance-article">
                        <aside v-for="(insurance, insuranceIndex) in insuranceInfo" :key="insuranceIndex">
                            <h4 class="insurance-name capital">{{ insurance.title }}</h4>
                            <ul class="insurance-group">
                              <li v-for="(item, itemIndex) in insurance.lists" :key="itemIndex"
                                @click="selectInsurance(item)"
                                :class="{ 'active' :item.isActive}">
                                {{ item.label }}
                                <ul class="subgroup">
                                  <li v-for="(sub, subIndex) in item.sublists" :key="subIndex">
                                    {{ sub }}
                                  </li>
                                </ul>
                              </li>
                            </ul>
                        </aside>
                    </article>
                </div>
                <div class="col-lg-5 col-sm-12 order-lg-1" data-aos="fade-right">
                    <img src="./../assets/images/insurance.png" alt="hours_operation">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  data () {
    return {
      insuranceInfo: [
        {
          title: 'internal medicine',
          lists: [
            {
              label: 'Aetna',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'blue cross blue shield',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'cigna (In process)',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'humana (In process)',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'medicare',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'medicare advantage',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'united',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'cash pay',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            }
          ]
        },
        {
          title: 'Pediatrics',
          lists: [
            {
              label: 'Aetna',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'blue cross blue shield',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'cigna (In process)',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'humana (In process)',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'medicaid (Accepted)',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'united',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            },
            {
              label: 'cash pay',
              isActive: false,
              sublists: ['Amerigroup (In process)', 'Community Health Choice(Accepted)', 'Molina(In process)', 'Texas Children\'s(In process)', 'UHC - Community Plan (In process)']
            }
          ]
        }
      ]
    }
  },
  methods: {
    selectInsurance (item) {
      item.isActive = !item.isActive
    }
  }
}
</script>
