<template>
    <section class="ourServices-section nuestros" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-title text-left capital">Nuestros servicios</h2>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <article class="servicer-article" v-for="(item, itemIndex) in espanolservices" :key="itemIndex">
                    <aside v-for="(sub, subIndex) in item.services" :key="subIndex">
                      <h4 class="list-title heading">{{ sub.title}}</h4>
                      <span class="d-block otherservice" v-for="(other, otherIndex) in sub.otherServices" :key="otherIndex">
                        {{ other }}
                      </span>
                    </aside>
                  </article>
                    <div class="espanol-footer">
                      <h4 class="list-title heading">{{ espanolServicio.title }}</h4>
                      <ul>
                        <li v-for="(service, serviceIndex) in espanolServicio.services" :key="serviceIndex">
                          {{ service }}
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-sm-12 text-lg-right" data-aos="fade-left">
                  <img src="./../assets/images/espanol.png" alt="espanol">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  data () {
    return {
      espanolservices: [
        {
          services: [{
            title: 'Para adultos',
            otherServices: ['Servicio de cuidados medicos', 'Servicio de cuidados cronica', 'Examenes fisicos']
          },
          {
            title: 'Para ninos',
            otherServices: ['Servicio de cuidados medicos', 'Examenes fisicos', 'Exanebes para deportes']
          }]
        }
      ],
      espanolServicio: {
        title: 'Servicio de laboratorio en la clinica',
        services: ['Prueba de sangre', 'Examen de orina', 'Electrocardiograma', 'Prueba de estreptococo', 'Prueba de influenza', 'Prueba de RSV']
      }
    }
  }
}
</script>
