<template>
    <section class="ourServices-section" id="services" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-title text-left">Our Services</h2>
                </div>
                <div class="col-lg-7 col-sm-12">
                  <article class="servicer-article" v-for="(item, itemIndex) in ourservices" :key="itemIndex">
                    <aside v-for="(sub, subIndex) in item.services" :key="subIndex">
                      <h4 class="list-title heading">{{ sub.heading}}</h4>
                      <h4 class="list-title">{{ sub.title }}</h4>
                      <ul>
                        <li v-for="(service, serviceIndex) in sub.services" :key="serviceIndex">
                          {{ service }}
                        </li>
                      </ul>
                      <span class="d-block otherservice" v-for="(other, otherIndex) in sub.otherServices" :key="otherIndex">
                        {{ other }}
                      </span>
                    </aside>
                  </article>
                </div>
                <div class="col-lg-5 col-sm-12" data-aos="fade-left">
                  <img src="./../assets/images/ourservices.png" alt="our services">
                </div>
            </div>
        </div>

    </section>
</template>

<script>
export default {
  data () {
    return {
      ourservices: [
        {
          services: [{
            heading: 'Internal Medicine',
            title: 'Acute care',
            services: ['Fever, cough, cold...', 'Sinus infection, flu, strep...']
          },
          {
            heading: 'Pediatrics',
            title: 'Acute care',
            services: ['Fever, cough, cold...', 'Ear infection...', 'Flu, Strep, Bronchiolitis...']
          }]
        },
        {
          services: [{
            title: 'Chronic care',
            services: ['Diabetes...', 'Blood pressure, cholestrol..', 'Weight management', 'Thyroid', 'Asthma, COPD...', 'Heart disease...', 'Acid reflus...', 'Anemia...', 'ADHD...'],
            otherServices: ['Annual Physicals', 'Sports Physicals', 'Work Physicals']
          },
          {
            title: 'Chronic care',
            services: ['Asthma...', 'Allegies...', 'ADHD...', 'Obesity...'],
            otherServices: ['Well child checks', 'Sports Physicals', 'School Physicals']
          }]
        },
        {
          services: [{
            title: 'In house services',
            services: ['Antibiotic injection', 'Blood testing', 'EKG (Electrocardiogram)', 'Joint injection', 'Rapid flu test', 'Rapid Strep test', 'Urine analysis', 'Vaccines', 'Minor surgical procedures']
          },
          {
            title: 'In house services',
            services: ['Antibiotic injection', 'Audiometry', 'Laboratory testing', 'Rapid Flu test', 'Rapid RSV test', 'Rapid Strep test', 'Vaccination', 'Vision screening']
          }]
        }
      ]
    }
  }
}
</script>
