.banner-section
    display: flex
    flex-direction: row-reverse
    align-items: top
    @media screen and (max-width: 991px)
        flex-direction: column
        overflow: hidden
    &__img
        @media screen and (max-width: 991px)
            margin-top: -50%
        flex: 1
        img
            width: 100%
    &__content
        padding: 100px
        flex: 1
        @media screen and (max-width: 1400px)
            padding: 50px
        @media screen and (max-width: 600px)
            padding: 40px 20px
        &__title
            color: $banner-title_clr
            font-size: 25.9px
            @extend .poppinBold
            line-height: 1.8
            margin-bottom: 15px
        &__list
            color: $banner-list_clr
            font-size: 2.2rem
            display: block
            @extend .poppinReg
            margin-bottom: 20px
            img
                margin-right: 5px
                display: inline-block
        &__heading
            color: $banner-title_clr
            font-size: 2.6rem
            @extend .poppinBold
            margin-bottom: 20px
        &__footer
            border-top: 1px solid $banner-border_clr
            padding-top: 20px
            &__title
                color: $banner-list_clr
                @extend .poppinReg
                font-size: 2.2rem
                text-transform: uppercase
                margin-bottom: 35px
                display: block
            &__heading
                color: $banner-title_clr
                @extend .poppinBold
                font-size: 2.2rem
                margin-bottom: 20px
            p
                color: $banner-list_clr
                @extend .poppinReg
                font-size: 2.2rem
                margin-bottom: 0