.custom-form-wrapper
    .form-group
        margin-bottom: 35px
        label
            color: $label_clr
            @extend .poppinReg
            font-size: 1.6rem
            white-space: nowrap
        .custom-form-input
            min-height: 32px
            border-color: $input-border_clr
            box-shadow: none