header
    background-color: $header_bg
    .topHeader
        padding: 20px
        @extend .containerPadding
        @media screen and (max-width: 991px)
            display: flex
            justify-content: space-between
        @media screen and ( max-width: 600px)
            padding-right: 50px            
        a
            text-decoration: none !important
            figure
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 0
                img
                    width: 100px
                    margin-right: 30px
                    @media screen and (max-width: 991px)
                        width: 80px
                        margin-right: 10px
                figcaption
                    text-align: center
                    font-size: 2.1rem
                    @media screen and ( max-width: 576px)
                        font-size: 14px
                        text-align: left
                    h1
                        color: $logo-title_clr
                        @extend .poppinBold
                        margin: 0
                        font-size: inherit
                    p
                        color: $logo-desc_clr
                        @extend .poppinMedium
                        font-size: inherit

    .navHeader
        &.sticky
            position: fixed
            z-index: 11
            top: 0
            left: 0
            width: 100%
        .navbar
            @extend .containerPadding
            .navContainer
                display: block !important
                @media screen and ( max-width: 991px)
                    background-color: $responsiveMenu_bg
                    position: fixed
                    width: 100%
                    height: 100%
                    left: 0
                    top: 0
                    overflow-y: auto
                    padding-top: 50px
                    @include scale(0)
                    @include transition(0.3s)
                    ul
                        li
                            &:hover
                                a
                                    color: $white
                            &.active
                                a
                                    color: $white
                                    @include transition(0.3s)
                           
                            a
                                font-size: 1.8rem !important
                                color: #999
                                padding: 10px 20px
                                @include transition(0.3s)
                    &.show
                        @include scale(1)
                        @include transition(0.3s)
                ul
                    display: flex
                    flex: 1
                    justify-content: space-around
                    li
                        @media screen and (min-width: 992px)
                            &.active
                                a
                                    color: $active-nav_clr
                            a
                                color: $nav_clr
                        a
                            @extend .poppinMedium
                            font-size: 1.6rem


.menu
    display: block
    position: fixed
    top: 0px
    right: 0px
    height: 50px
    width: 50px
    z-index: 20
    cursor: pointer
    background-color: $black
    @media screen and (min-width: 992px)
        display: none    
    &__line
        display: block
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: 30px
        height: 4px
        background-color: $white
        border-radius: 13px
        transition-duration: .4s
        &:nth-child(1)
            top: 14px
        &:nth-child(2)
            top: 23px
        &:nth-child(3)
            bottom: 14px
    // hamburger menu transformation
    &.active
        box-shadow: none
    &.active .menu__line:nth-child(1)
        transform: translate(-12px, 9px) rotate(-45deg);
    &.active .menu__line:nth-child(2)
        transition-duration: 0s
        opacity: 0
    &.active .menu__line:nth-child(3)
        transform: translate(-12px, -9px) rotate(45deg)

.withSticky
    padding-top: 275px