.containerPadding
    padding-left: 100px
    padding-right: 100px
    @media screen and (max-width: 1199px)
        padding-left: 60px
        padding-right: 60px

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 10px
    scroll-behavior: smooth
    @media screen and (max-width: 1199px)
        font-size: 8px

.bgstyle
    content: ''
    position: absolute
    left: 0
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: 100% auto
    z-index: -1
.capital
    text-transform: uppercase
.v-center
    align-items: center
img
    max-width: 100%
    @media screen and ( max-width: 991px)
        display: block
        margin: 0 auto

body
    overflow-x: hidden
section
    padding-top: 100px
    padding-bottom: 100px
    @media screen and ( max-width: 991px)
        padding-top: 50px
        padding-bottom: 50px
    @media screen and (max-width: 600px)
        padding-left: 20px !important
        padding-right: 20px !important
    .section-title
        color: $section-title_clr
        @extend .poppinBold
        font-size: 3.6rem
        text-align: center
        margin-bottom: 40px
    &.appointment-section
        padding-top: 100px
.page-wrapper
    overflow-x: hidden

.appointment-section
        padding-top: 100px
        position: relative
        @media screen and ( max-width: 991px)
            padding-top: 50px !important
            &::after
                bottom: -100px !important
        &::after
            bottom: -180px
            background-image: url(./../images/appointment_bg.png)            
            background-position: bottom right
            @extend .bgstyle
        .section-title
            margin-bottom: 100px
        .download-link
            text-decoration: underline
            color: $theme-text-clr
            font-size: 1.6rem
            @extend .poppinMedium
            position: absolute
            right: 60px
            top: 190px
            display: flex
            align-items: center
            @media screen and ( max-width: 991px)
                top: 130px
            img
                width: 20px
                margin-right: 10px
        .form-title
            color: $label_clr
            @extend .poppinMedium
            font-size: 1.6rem
            margin-bottom: 35px
        .appointmentBtn
            display: block
            margin: 50px auto 20px auto
            background-color: $button_bg
            color: $button_clr
            @extend .poppinBold
            font-size: 1.6rem
            width: 24.9rem
            box-shadow: none
            border-radius: 4px
            padding: 15px
        .telemedicine-wrapper
            text-align: center
            &__title
                align-items: center
                color: $telemedicine-title_clr
                @extend .poppinMedium
                font-size: 1.6rem
            &__box
                padding: 30px
                border: 2px solid $telemedicine-box-border_clr
                margin-top: 50px
                border-radius: 20px
                background-color: $telemedicine-box_bg
                &__title
                    display: flex
                    text-transform: uppercase
                    justify-content: center
                    color: $section-title_clr
                    @extend .poppinBold
                    font-size: 2.4rem
                    img
                        margin-right: 20px
                p
                    color: $telemedicine-title_clr
                    @extend .poppinMedium
                    font-size: 1.6rem

// address
.address-section
    padding-top: 130px
    padding-left: 30px
    padding-right: 30px
    @media screen and ( max-width: 991px)
        padding-top: 60px
        padding-bottom: 0
    .section-title
        text-align: left
    .address-block
        overflow: hidden
        display: inline-block
        padding: 8px
        border-radius: 4px
        border: none
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2)
        @media screen and ( max-width: 991px)
            width: 100%
            margin-bottom: 30px
            iframe
                width: 100%
    .address-information
        padding-top: 20px
        ul
            margin-bottom: 0
            li
                list-style: none
                display: flex
                margin-bottom: 60px
                span, label
                    display: block
                    @extend .poppinMedium
                    font-size: 1.7rem
                    color: $address-title_clr
                span
                    margin-bottom: 25px
                p
                    color: $address-title_clr
                    font-size: 1.7rem
                    @extend .poppinReg
                    margin-bottom: 20px

.hoursofoperation-section
    position: relative
    padding-top: 200px
    @media screen and ( max-width: 991px)
        padding-bottom: 0
        padding-left: 50px
        padding-right: 50px
    &.espanol
        &::after
           display: none
    &::after
        top: 0px        
        background-image: url(./../images/hours_operation_bg.png)
        background-position: top right
        @extend .bgstyle
    .section-title
        margin-bottom: 3.8rem
    .doctors-article
        display: flex
        @media screen and ( max-width: 600px)
            flex-direction: column
            &:nth-last-child(n+2)
                aside
                    margin-bottom: 50px                
        aside
            flex: 1
            &:last-child
                .doctor-table
                    @media screen and (max-width: 600px)
                        .doctor-row
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 15px;
                            .doctor-cell
                                flex: 1 100%
                                &:nth-child(n+2)
                                    flex: 1 1 50%
            .doctors-name
                text-transform: uppercase
                color: $address-title_clr
                @extend .poppinBold
                font-size: 2rem
                margin-bottom: 30px
                margin-top: 0
            .doctor-table
                display: table
                @media screen and (max-width: 600px)
                    width: 100%
                .doctor-row
                    display: table-row
                    &:nth-last-child(n+2)
                        .doctor-cell
                            border-bottom: 1px solid $hoursOperation-list-border_clr
                    .doctor-cell
                        display: table-cell
                        color: $address-title_clr
                        white-space: nowrap
                        @extend .poppinMedium
                        font-size: 2rem
                        padding: 10px 0
                        &:nth-child(3)
                            color: $hoursOperation-list-text_clr
                            @extend .poppinReg
                        &:nth-last-child(n+2)
                            padding-right: 20px
    .hoursOperation-footer
        border-top: 1px solid #cccccc
        margin-top: 30px
        padding-top: 20px
        .title
            color: $address-title_clr
            @extend .poppinBold
            font-size: 2rem
            margin-top: 0
            margin-bottom: 20px
        .hoursOperation-footer__table
            display: table
            &__row
                display: table-row
                @media screen and (max-width: 600px)
                    display: flex
                    flex-direction: column
                &__cell
                    display: table-cell
                    color: $address-title_clr
                    font-size: 1.6rem
                    @extend .poppinReg
                    padding-left: 5px
                    padding-bottom: 10px
                    label
                        @extend .poppinBold
                    &.norBorder
                        border: 0 !important
                    &:nth-child(n+2)
                        padding-right: 20px
                    &:last-child()
                        span
                            padding-left: 20px
                            border-left: 1px solid #cccccc
                            @media screen and (max-width: 600px)
                                padding-left: 0
                                border: 0
                        
.ourServices-section
    position: relative
    padding: 100px 60px 0 60px
    &::after
        bottom: -100px
        background-image: url(./../images/our_services_bg.png)
        background-position: bottom right
        @extend .bgstyle
    .servicer-article
        display: flex
        @media screen and (max-width: 600px)
            flex-direction: column
            aside
                &:nth-child(odd)
                    margin-bottom: 30px
        aside
            flex: 1
            color: $address-title_clr
            font-size: 1.6rem
            .list-title
                @extend .poppinBold
                &.heading
                    margin-bottom: 30px
                    @media screen and (max-width: 600px)
                        margin-bottom: 15px
            ul
                li
                    @extend .poppinReg
                    list-style: none
                    position: relative
                    padding-left: 30px
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        top: 50%
                        @include translateY(-50%)
                        height: 1px
                        width: 10px
                        background-color: $address-title_clr
            .otherservice
                @extend .poppinMedium

.insurance-section
    padding-top: 250px
    padding-left: 50px
    padding-right: 50px
    .insurance-article
        display: flex
        @media screen and ( max-width: 600px)
            flex-direction: column
            &:nth-last-child(n+2)
                aside
                    margin-bottom: 50px 
        aside
            flex: 1
            .insurance-name
                color: $address-title_clr
                @extend .poppinMedium
                font-size: 1.6rem
                margin-bottom: 20px
                margin-top: 0
            .insurance-group
                & > li
                    padding-left: 40px
                    background-image: url('./../images/bullets.png')
                    background-repeat: no-repeat
                    padding-bottom: 20px
                    cursor: pointer
                    &.active
                        .subgroup
                            @include scale(1)
                            position: relative
                            transform-origin: top center
                            @include transition(0.3s)
                li
                    list-style: none
                    @extend .capital
                    @extend .poppinReg
                    color: $insurance-text_clr
                    font-size: 1.6rem
                    .subgroup
                        margin-top: 10px
                        @include scale(0)
                        position: absolute
                        transform-origin: top center
                        overflow: hidden
                        @include transition(0.3s)
                        li
                            padding-left: 15px
                            position: relative
                            &::after
                                content: ''
                                position: absolute
                                left: 0
                                top: 50%
                                @include translateY(-50%)
                                height: 1px
                                width: 8px
                                background: $insurance-text_clr
    
.about-section
    padding-left: 60px
    padding-right: 60px
    padding-bottom: 0
    position: relative
    &::after
        top: 0px
        background-image: url(./../images/about_bg.png)
        background-position: top right
        @extend .bgstyle
    ul
        display: flex
        flex-wrap: wrap
        margin: 0 -1%
        li
            list-style: none
            flex: 1 1 46%
            margin: 70px 1%
            padding: 80px 30px 30px
            position: relative
            box-shadow: 0 0 4px 1px $about-list_border_clr
            border-radius: 6px
            color: $about-list-text_clr
            font-size: 1.6rem
            @media screen and ( max-width: 991px)
                flex: 1 100%
            .doctor-name
                @extend .poppinBold
                margin-bottom: 10px
            p
                @extend .poppinReg
                line-height: 2
            img
                width: 100px
                height: 100px
                position: absolute
                border-radius: 100%
                left: 50%
                top: 0%
                @include translate(-50%, -50%)
                box-shadow: 0 0 0 6px $aboutimg-border_clr

.announcement-section
    padding-left: 60px
    padding-right: 60px
    position: relative
    &::after
        bottom: -100px
        background-image: url(./../images/announcement_bg.png)
        background-position: bottom right
        @extend .bgstyle
    ul
        li
            list-style: none
            border: 1px solid $announcement-list-border_clr
            margin-bottom: 10px
            border-radius: 6px
            padding: 25px 15px
            color: $announcement-list_clr
            font-size: 1.6rem
            .announcement-title
                margin-top: 0
                margin-bottom: 15px
                @extend .poppinBold
            p
                @extend .poppinReg
                line-height: 2
                margin-bottom: 0

.espanol
    padding-left: 60px
    padding-right: 60px
    .espanol-details
        @media screen and ( max-width: 991px)
            margin-bottom: 35px
        &__inner
            border: 2px solid $espanol-details-border_clr
            border-radius: 6px
            color: $espanol-details_clr
            font-size: 1.6rem
            padding: 30px
            height: 100%
            display: inline-block
            @media screen and ( max-width: 991px)
                width: 100%
            &__title
                margin-top: 15px
                margin-bottom: 50px
                @extend .poppinBold
            p
                margin-bottom: 50px
                @extend .poppinReg
                line-height: 2

.nuestros
    &::after
        bottom: -100px
        background-image: url(./../images/espanol_bg.png)
        background-position: bottom right
        @extend .bgstyle
    .espanol-footer
        border-top: 1px solid $espanol-footer_border_clr
        margin-top: 25px
        padding-top: 30px
        display: flex
        flex-direction: column
        align-items: center
        .list-title
            @extend .poppinBold
            &.heading
                margin-bottom: 30px
        ul
            li
                color: $address-title_clr
                font-size: 1.6rem
                @extend .poppinReg
                list-style: none
                position: relative
                padding-left: 30px
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 50%
                    @include translateY(-50%)
                    height: 1px
                    width: 10px
                    background-color: $address-title_clr

footer
    padding: 150px 60px 60px
    text-align: center
    font-size: 1.4rem
    @extend .poppinMedium
    color: $footer-text_clr