@import './base/variables'
@import './base/mixin'

// components
@import './_style'
@import './components/header'
@import './components/banner'
@import './components/_forms'

// fonts
@include font-face(poppins-bold, "./../fonts/poppins-bold", null, null, otf woff woff2)
@include font-face(poppins-medium, "./../fonts/poppins-medium", null, null, otf woff woff2)
@include font-face(poppins-regular, "./../fonts/poppins-regular", null, null, otf woff woff2)

.poppinBold
    font-family: poppins-bold
.poppinMedium
    font-family: poppins-medium
.poppinReg
    font-family: poppins-regular